@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Employee table</h1>
    <p class="lead">This is an application where you can enter employees and see the list of employees.</p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>New Employee</h2>
        <p>
            If you want to enter a new employee in the "Employees" table, click the New Employees option in the navigation bar.
            When you enter the Net Salary, the Gross Salary will be automatically credited and entered in your table.
        </p>
    </div>
    <div class="col-md-6">
        <img src="https://www.hemofarm.com/images/infoblock/zaposleni-01.jpg"
             width="100%" height="auto" />
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <img src="https://poslovi.infostud.com/public/files/ecms/files/vesti_53721/slika-prednja.jpg"
             width="100%" height="auto" />
    </div>

    <div class="col-md-6 show">
        <h2>Show Employee</h2>
        <p>
            If you want to see a list of employees with data (name, surname, address, net salary and gross salary) then
            select the Show Employees option in the navigation bar.
        </p>
    </div>
</div>

<div class="about text-center">
    <h2>About us</h2>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's 
    standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a 
    type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining 
    essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
    and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
</div>


<div class="contactUs">
    <div class="col-md-4">
        <h3>Contact</h3>
        <hr />
        011/123 456 789<br />
        063/ 987 65 32
    </div>

    <div class="col-md-4">
        <h3>Address</h3>
        <hr />
        Svetog Save 102,
        Paris, France
    </div>

    <div class="col-md-4">
        <h3>Recommendation</h3>
        <hr />
        <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown 
        printer took a galley of type and scrambled it to make a type specimen book.</p>
    </div>
</div>